<div class="before"></div>
<div class="container">


    <!--Section: Blog v.1-->


    <!--Section heading-->
    <h2 class="h1 font-weight-bold text-center mb-5 pt-4">Delivery Places</h2>
    <!--Section description-->
    <p class="text-center mb-5 pb-3">Easy get your book.</p>

    <!--Grid row-->
    <div class="row animated fadeInLeft">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 pb-3">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="assets/images/24232799_549725772028807_2078384764263795830_n.png" alt="Sample image for first version of blog listing" class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 storeInfo">
            <!--Excerpt-->
            <a href="" class="green-text">
                <h6 class="font-weight-bold pb-1"> Alexandria</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>El Bayt Coworkspace</strong>
            </h3>
            <ul>
                <li> <i class="fa fa-location-arrow" aria-hidden="true"></i> 13 youssef fahmy othman (1.61 mi) Alexandria, Egypt 21524
                </li>
                <li> <i class="fa fa-globe"></i><a href="
                  https://www.facebook.com/ElbaytCoworkingSpace/ "> www.facebook.com/ElbaytCoworkingSpace </a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> 0128 640 8867
                </li>
                <!--will put opening hours here-->
                <li class="storeRate">
                    <div class="orange-text">
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star-half-full"> </i>
                    </div>
                </li>
            </ul>

            <a class="btn btn-success btn-md mb-3 waves-light" mdbWavesEffect>Visit Profile</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5 mt-5 pb-3">



    <!--Section: Blog v.1-->
    <!--Section: Blog v.1-->
    <!--Grid row-->
    <div class="row  animated fadeInLeft">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 pb-3">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="assets/images/29573051_1838626106207830_4802386396651573895_n.jpg" alt="Sample image for first version of blog listing" class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 storeInfo">
            <!--Excerpt-->
            <a href="" class="green-text">
                <h6 class="font-weight-bold pb-1"> Alexandria</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>WorkStation</strong>
            </h3>
            <ul>
                <li> <i class="fa fa-location-arrow" aria-hidden="true"></i> 29 Al-Fardous Street, Smouha (2.91 mi) Alexandria, Egypt
                </li>
                <li> <i class="fa fa-globe"></i><a href="http://workstation-eg.co/">
                  workstation-eg.co</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>03 4241194
                </li>
                <li class="storeRate">
                    <div class="orange-text">
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star-half-full"> </i>
                    </div>
                </li>
            </ul>

            <a class="btn btn-success btn-md mb-3 waves-light" mdbWavesEffect>Visit Profile</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5 mt-5 pb-3">

    <!--Pagination -->
    <nav class="d-flex justify-content-center mt-5">
        <ul class="pagination pg-red">
            <!--Arrow left-->
            <li class="page-item">
                <a class="page-link" mdbWavesEffect aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <!--Numbers-->
            <li class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>

            <!--Arrow right-->
            <li class="page-item">
                <a class="page-link" mdbWavesEffect aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    <!--/Pagination -->
</div>