<div class="container animated bounceInUp mt-5 " id="content">
    <div class="row">
        <h2 class="col-lg-12 mt-5"> Latest</h2>
        <hr class="mb-5 col-lg-12" width="30px">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r ">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/download.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Nader Ahmed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Family</h5>
                    <h4 class="card-title"><strong><a href="">Sparks </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Exchange</span></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut ofeveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Samy mohamed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/books-trophy-child.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Horror</h5>
                    <h4 class="card-title"><strong><a href="">Trophy Child</a></strong></h4>
                    <h4> <span class="badge  lighten-1">Bid</span></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam e saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Aya mostafa</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/5346.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last Juror </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Noha Seleem</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <h2 class="col-lg-12 mt-5"> Recommended</h2>
        <hr class="mb-5 col-lg-12" width="30px">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/download.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Nader Ahmed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Family</h5>
                    <h4 class="card-title"><strong><a href="">Sparks </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Exchange</span></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut ofeveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Samy mohamed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/books-trophy-child.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Horror</h5>
                    <h4 class="card-title"><strong><a href="">Trophy Child</a></strong></h4>
                    <h4> <span class="badge  lighten-1">Bid</span></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam e saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Aya mostafa</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/5346.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last Juror </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Noha Seleem</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="row mt-5">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Karim Ahmed</strong></span>
                    </div>

                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/41865.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Nada Emad</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Exchange</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Salma Salim</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/Great Gatsby.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Bid</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Nader Ahmed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="row mt-5">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Nader Ahmed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/41865.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Exchange</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Nader Ahmed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The last breath </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Bid</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Nader Ahmed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight zoom">
                    <img src="assets/images/Great Gatsby.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Drama</h5>
                    <h4 class="card-title"><strong><a href="">The Graat Gatsby </a></strong></h4>
                    <h4> <span class="badge  lighten-1">Sale</span></h4>
                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et asptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">

                        <span class="right">
    
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                  </span>
                        <span class="left"><strong>Ali Ahmed</strong></span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="d-flex justify-content-center viewMoreBtn mt-5">
            <button class="btn peach">View more</button>
        </div>

    </div>
    <!--Grid row-->

</div>