<div class="container">
    <div class="row">

        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
            <!--First slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </mdb-slide>
            <!--/Second slide-->
            <!--Third slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/9780751550047.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </mdb-slide>
            <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->

    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <h3 class="col-lg-12 mt-5"> Recommended</h3>
        <hr class="mb-5 col-lg-12" width="30px">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/download.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/books-trophy-child.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/5346.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="row mt-5">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/41865.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                    </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/Great Gatsby.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="row mt-5">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/41865.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                    </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/9780751550047.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view overlay hm-white-slight hm-zoom">
                    <img src="assets/images/Great Gatsby.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body no-padding text-center">

                    <!--Category & Title-->
                    <h5>Category</h5>
                    <h4 class="card-title"><strong><a href="">Product name <span class="badge pink lighten-1">New</span></a></strong></h4>

                    <!--Description-->
                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><strong>1299$</strong></span>
                        <span class="right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                  </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
<button type="button" class="btn btn-primary  ml-5">  VIEW MORE </button>