<section class="banner">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="banner-content mt-5">
                <!-- side icon-bar -->
                <div class="icon-bar pt-5 m-3 mt-5 mr-5">
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fa fa-instagram mt-5"></i>
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <!-- End side icon-bar -->
                <article class="animated bounceInUp">
                    <h1>Exchange , Buy , Read.</h1>
                    <p>
                        Fugiat consequat do deserunt deserunt incicua ea labore aliqua aliquip esse cupidatat. Minim aute cupidatat deserunt et dolor elit ea.
                    </p>

                    <div class="d-flex justify-content-center viewMoreBtn mt-5">
                        <button class="btn peach" routerLink="/HomeContent">Explore Now</button>
                    </div>
                </article>
            </div>
            <div class="log p-3" *ngIf="!userLoggedIn">
                <button type="button" class="btn mr-4" routerLink="/login">
          SignIn
        </button>
                <button type="button" class="btn mr-4" routerLink="/register">
          SignUp
        </button>
            </div>
            <div class="down">
                <a href="#content"> <i class="fa fa-chevron-down "></i></a>
            </div>

        </div>
    </div>
</section>