.banner {
    background: url('/assets/images/books1.jpg') center;
    background-size: cover;
    color: red;
    height: 660px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        height: 660px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(27, 27, 27, 0.363);
    }
    .banner-content {
        .icon-bar {
            right: 0%;
            position: absolute;
            a {
                display: block;
                text-align: center;
                padding: 10px;
                transition: all 0.3s ease;
                color: white;
                font-size: 30px;
                 :hover {
                    color: rgb(255, 0, 85);
                }
            }
        }
    }
    .log {
        top: 0;
    }
}