<!-- Footer Area -->
<footer class="footer_area pt-5 mt-5">
    <div class="container">
        <div class="footer_row row">
            <div class="col-md-4 col-sm-6 footer_about">
                <h2>ABOUT OUR Site</h2>
                <img src="assets/images/ShelvesLogo.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>
            <div class="col-md-4 col-sm-6 footer_about quick">
                <h2>Quick links</h2>
                <ul class="quick_link">
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Categories</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Stores</a></li>
                    <li><a routerLink="/DeliveryPlaces"><i class="fa fa-chevron-right"></i>Delivery places</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Who Are We</a></li>

                </ul>
            </div>

            <div class="col-md-4 col-sm-6 footer_about">
                <h2>CONTACT US</h2>
                <address>
                    <p>Have questions, comments or just want to say hello.</p>
                    <ul class="my_address">
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>shelvesteam@gmail.com</a></li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+20 010 13 456 45</a></li>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Maamoura23, Alexandria</span></a></li>
                    </ul>
                </address>
            </div>
        </div>
    </div>
    <div class="copyright_area">
        Copyright &copy; 2018 All rights reserved. Designed by <a href="https://shelves.com">ShelvesTeam.</a>
    </div>
</footer>
<!-- End Footer Area -->