.author-box {
    height: 440px;
    margin-top: -50px;
    .rounded-circle {
        width: 100px;
        height: 100px;
    }
    .personal-sm {
        i {
            font-size: 20px;
            color: crimson;
        }
    }
}

.card {
    height: 100%;
    .img-fluid {
        height: 300px;
        width: 100%;
    }
}

.card-body {
    .badge {
        background-color: crimson;
    }
}

.card-footer {
    i {
        color: crimson;
        font-size: 20px;
    }
}