.author-box {
    height: 360px;
    margin-top: 35px;
    .rounded-circle {
        width: 100px;
        height: 100px;
    }
    .personal-sm {
        ul {
            list-style: none;
            i {
                padding-right: 10px;
            }
        }
        i {
            font-size: 20px;
            color: crimson;
        }
    }
}

.card {
    height: 100%;
    .img-fluid {
        height: 300px;
        width: 100%;
    }
}

.card-body {
    .badge {
        background-color: #ff4f4f;
    }
}

.card-footer {
    i {
        color: crimson;
        font-size: 20px;
    }
}

.avatar {
    background: linear-gradient(40deg, #ffd86f, #dc3545)!important;
    border: none;
    margin-right: 50px;
}