<div class="container ">

    <!--Author box-->
    <div class="author-box  d-flex align-items-center" *ngIf="userLoggedIn">
        <!--Name-->
        <!-- <h3 class="h3-responsive text-center">About author</h3>
        <hr> -->

        <!--Avatar-->
        <div class="col-12 col-sm-2">
            <img src="assets/images/jared-sluyter-260692-unsplash.jpg" class="img-fluid rounded-circle z-depth-2">
        </div>
        <!--Author Data-->
        <div class=" col-12 col-sm-10">
            <p><strong>{{ currentUser.name }}</strong></p>
            <div class="personal-sm">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>Maamoura-Alexandria

            </div>

        </div>

    </div>
    <!--/.Author box-->
    <h2 class="col-lg-12 mt-5 title"> My Shelf</h2>
    <hr class="mb-5 col-lg-12">
    <div class="container animated bounceInUp mt-5 " id="content">
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-r " *ngFor="let book of userBooks">

            <!--Card-->
            <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight zoom">
                        <img src="http://localhost:3000{{ book.book_images[0].image.url }}" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
    
                    <!--Card content-->
                    <div class="card-body no-padding text-center">
    
                        <!--Category & Title-->
                        <h5>{{ book.category.name }}</h5>
                        <h4 class="card-title"><strong><a href="">{{ book.name }}</a></strong></h4>
                        <h4> <span class="badge  lighten-1">{{ book.transcation }}</span></h4>
                        <!--Description-->
                        <p class="card-text">{{ book.description}}
                        </p>
    
                        <!--Card footer-->
                        <div class="card-footer">
    
                            <span class="right">
        
                          <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-user pr-2"></i></a>
                      </span>
                            <span class="left"><strong>{{ book.user[0].name }}</strong></span>
                        </div>
    
                    </div>
                    <!--/.Card content-->
    
                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>

    </div>

</div>