<div class="before">

</div>
<div class="container mt-5  animated pulse">
        <div class="row" *ngIf="noResultsFound">
                <h2 class="col-lg-12 mt-5"> {{error}} </h2>
                <hr class="mb-5 col-lg-12" width="30px">
        </div>
    <div class="row" *ngIf="!noResultsFound">
        <h2 class="col-lg-12 mt-5" *ngIf="searchValue"> Search Results For <span>' {{ searchValue }} '  </span> </h2>
        <h2 class="col-lg-12 mt-5" *ngIf="category"> Books in this category  </h2>

        <hr class="mb-5 col-lg-12" width="30px">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r" *ngFor="let book of books" style="margin-bottom: 20px">

            <!--Card-->
            <div class="card card-cascade narrower">

              <!--Card image-->
              <div class="view overlay hm-white-slight zoom">
                  <img src="http://localhost:3000{{ book?.book_images[0]?.image?.url }}" class="img-fluid" alt="">
                  <a routerLink="/books/{{ book?.id }}">
                      <div class="mask"></div>
                  </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-body no-padding text-center">

                  <!--Category & Title-->
                  <h5>{{ book?.category?.name }}</h5>
                  <h4 class="card-title">
                      <strong>
                          <a routerLink="/books/{{ book?.id }}">{{ book?.name }}</a>
                      </strong>
                  </h4>
                  <h4>
                      <span class="badge  lighten-1">{{ book?.transcation }}</span>
                  </h4>
                  <h4>
                      <!--  <span > Avg rate: {{ book?.rate }}</span> -->
                      <span class="stars" style="margin: 0 auto; ">
                          <span [style.width.%]="book?.rate/5*100"></span>

                      </span>
                  </h4>


                  <!--Card footer-->
                  <div class="card-footer">

                      <span class="right">

                          <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist" routerLink="/userprofile/{{ book?.user[0]?.id }}">
                              <i class="fa fa-user pr-2"></i>
                              <strong>{{ book?.user[0]?.name }}</strong>
                          </a>
                      </span>

                  </div>

              </div>
              <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>

    <!--Pagination -->
    <nav class="d-flex justify-content-center mt-5" *ngIf="!noResultsFound">
        <ul class="pagination pg-red">
            <!--Arrow left-->
            <li class="page-item">
                <button class="page-link" mdbWavesEffect aria-label="Previous" [disabled]="currentPage == 1" (click)="pageClick(currentPage-1)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </button>
            </li>

            <!--Numbers-->
            <li class="page-item" *ngFor="let page of pages"><button class="page-link" [disabled]="currentPage == page+1" mdbWavesEffect (click)="pageClick(page+1)">{{page + 1}}</button></li>
            <!--Arrow right-->
            <li class="page-item">
                <button class="page-link" mdbWavesEffect aria-label="Next" [disabled]="currentPage >= totalPages" (click)="pageClick(currentPage+1)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </button>
            </li>
        </ul>
    </nav>
    <!--/Pagination red-->

</div>