<div class="container mt-5 animated bounceInUp">
  <div class="row d-flex justify-content-center">
      <!--Card-->
      <div class="card card-cascade p-5  col-lg-8 col-md-4 ">

          <!-- Login form -->
          <div class="signTitle">
              <h3 class="text-center mb-4">{{ title }}</h3>

          </div>
          <form [formGroup]="authForm" (ngSubmit)="submitForm()">

            <div class="errorMessages" *ngIf="error">
                <span>{{ error }}</span>
            </div>
              <div class="md-form" *ngIf="authType == 'register'">
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" formControlName="name" id="name" class="form-control" minLength="8" mdbInputDirective>
                  <label for="name">Your name</label>
              </div>

              <div class="md-form">
                  <i class="fa fa-envelope prefix grey-text"></i>
                  <input type="email" data-error="please enter a valid email" minLength="8"  formControlName="email" id="email" class="form-control" mdbInputDirective>
                  <label for="email">Your email</label>
              </div>
              <div class="md-form">
                  <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" formControlName="password" id="password" class="form-control" minLength="8" mdbInputDirective>
                  <label for="password">Your password</label>
              </div>
              <div class="md-form" *ngIf="authType == 'register'" >
                  <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" formControlName="password_confirmation" id="password_confirmation" class=" form-control" mdbInputDirective>
                  <label for="password_confirmation">Confirm password</label>
              </div>
              <label for="role" *ngIf="authType == 'register'" >Register as : </label>              
              <div class="md-form" *ngIf="authType == 'register'" >
                <select formControlName="role" 
                *ngIf="authType == 'register'" 
                name="role" id="role" 
                class="form-control checkUser" 
                title="Type of user" 
                mdbInputDirective>
                  <option selected>Normal user</option>
                  <option>Book store</option>
                </select>
                </div>

              <div class="text-center viewMoreBtn">
                  <input type="submit" [disabled]="!authForm.valid" class="btn peach waves-light" mdbWavesEffect value="{{ title }}">
              </div>

          </form>

          <p *ngIf="authType == 'register'">Have An Account? <a routerLink="/login">Sign In</a></p>
          <p *ngIf="authType == 'login'">Not a member? <a routerLink="/register">Sign Up</a></p>
          <a *ngIf="authType == 'login'" (click)="basicModal.show()">Forget Your Password?</a>
          <div mdbModal #basicModal="mdb-modal" class="modal fade mt-5" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
            </button>
                        <h4 class="modal-title w-100" id="myModalLabel">Reset Your Password</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below and we will send you a private message containing a link that will help you to create a new password</p>
                        <div class="errorMessages" *ngIf="error">
                            <span>{{ error }}</span>
                        </div>
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input mdbInputDirective data-error="please enter a valid email" formControlName="email" minLength="8"  type="email" class="form-control" id="form9" name="email" mdbInputDirective>
                                <label for="form9">Type your e-mail</label>
                            </div>
                            <div class="modal-footer viewMoreBtn">
                                <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn peach relative waves-light" mdbWavesEffect>Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!--/.Card-->
  </div>
</div>