.card {
    width: 50%;
    margin-top: 150px;
}

.signTitle {
    background-color: #ff4f4f;
    // background: linear-gradient(40deg, #ffd86f, #fc6262)!important;
    padding: 1.6rem 1rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    margin-top: -100px;
    h3 {
        color: floralwhite;
    }
}

.viewMoreBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.peach {
    background: linear-gradient(40deg, #ffd86f, #dc3545)!important;
    border: none;
}

.modal {
    .modal-body {
        width: 50%;
    }
}

.checkUser {
    width: 20%;
    border-radius: 10px;
    option {
        width: 15%;
        border-radius: 10px;
    }
}

.errorMessages {
    list-style-type: disc;
    margin: 10px 10px 15px 10px;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.errorMessages span {
    font-weight: bold;
}