<div class="before"></div>
<div class="container">
    <div class="row notiList">
        <h4 class=" col-lg-12 text-center">All Notifications</h4>
        <hr>
        <!--Notification List-->
        <ul>
            <li class="col-lg-12"  *ngFor="let notification of userNotifications">
                <div class="mdb-feed pt-5 pb-3">

                    <div class="news">
                       
                         <!--Label-->
                         <div class="label">
                            <img src="{{ notification?.icon }}" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <a href="">
                                <div class="brief">
                                    <a class="name"><strong>{{ notification?.sender_user[0]?.name }}</strong> </a> <span>{{ notification?.body }}</span>
                                    <div class="date">{{notification?.created_at}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>