<div class="before"></div>
<div *ngIf="canView; then thenBlock; else elseBlock"></div>

<ng-template #elseBlock>
        <div class="container animated bounceInUp card card-cascade p-5 mt-5 col-lg-10 col-md-10">
                <h2 class="h1 font-weight-bold text-center mb-4">
                       
                   
                    <span class="badge lighten-1 ">{{message}}</span> 
                   
            
                </h2>
            </div>
</ng-template>
<ng-template #thenBlock>
        
<div class="container animated bounceInUp card card-cascade p-5 mt-5 col-lg-10 col-md-10">
    <div class=" mb-2">
            <div class="alert alert-success" *ngIf="message">
                    <span>{{ message }}</span>
                </div>
        <!--Section heading-->
        <h3 class="text-center mb-2">Order Details</h3>
        <hr>
    </div>
    <h2 class="h1 font-weight-bold text-center mb-4">
            <div [ngSwitch]="order?.transcation">
        <!-- If It Is An Exchange Order  -->

        <span *ngSwitchCase="'Exchange'" class="badge lighten-1 ">Exchange</span> 
        <!-- If It Is A Sell Order  -->
         <span *ngSwitchCase="'Sell'" class="badge lighten-1 ">Sell</span> 
        <!-- If It Is A Bid Order  -->
        <span *ngSwitchCase="'Sell By Bids'" class="badge lighten-1 ">Bid</span>
        <span *ngSwitchCase="'Free Share'" class="badge lighten-1 ">Free Share</span> 
        </div>

    </h2>
    <div class="row  d-flex justify-content-center mb-4">
        <div class="userImg">
            <a>
              
                <img src="assets/images/blank__240x240.gif" class="img-fluid rounded-circle z-depth-2 mb-2" *ngIf="!userImageExist">
                <img src="{{userImage.url}}" class="img-fluid rounded-circle z-depth-2 mb-2" *ngIf="userImageExist">
                <h4><strong>{{order.user[0].name}}</strong></h4>
            </a>
        </div>
    </div>
    <!-- If It Is An Exchange Order  -->
    <div [ngSwitch]="order?.transcation">
     <div *ngSwitchCase="'Exchange'"class="exchangeOrder">
           
        <div class="row d-flex justify-content-center">

            <div class="personal-sm col-lg-4 col-sm-10">

                <h5 class="mb-4">Requests your book </h5>

                <!--<img src="assets/images/jessica-to-oto-o-585175-unsplash.jpg" class="orderImg z-depth-2">-->
                <h1>{{order.book[0].name}} 

                </h1>
            </div>


           
            <div class="personal-sm col-lg-8 col-sm-10 col-sm-10  ">

                <h5 class="mb-4 ml-5">to exchange with one of these books</h5>
                <ul>


                        <ng-template ngFor let-item [ngForOf]="exchangeable_books" let-i="index">
                                <li><input type="radio" id="{{item.id}}" name="exb" value="{{item.id}}"/>
                                    <label for="cb1"><img class="orderImg z-depth-2 mr-2 mb-2" src="http://localhost:3000{{item?.book_images[0]?.image?.url}}"  /></label>
                                </li>
                            </ng-template>

                </ul>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-danger waves-light col-4"  (click)="dismissEx()" data-dismiss="modal" mdbWavesEffect>Dismiss</button>
            <button type="submit" class="btn btn-primary waves-light col-4" (click)="confirmExOrder()" mdbWavesEffect>Confirm</button>
        </div>
        
    </div> 
    <!-- /If It Is An Exchange Order  -->
<!-- free share -->
<div *ngSwitchCase="'Free Share'">
<div  class="sellOrder d-flex justify-content-center">

    <div class="personal-sm">

        <h5 class="mb-4 text-center">Wants your book </h5>
        
        <a routerLink="/books/{{ order?.book[0]?.id }}" > <img src="http://localhost:3000{{order?.book_images[0]?.image?.url}}" class="orderImg z-depth-2"></a>

    </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-danger waves-light col-4" data-dismiss="modal" (click)="dismissSellOrder()" [hidden]="orderConfirmed" mdbWavesEffect>Dismiss</button>
            <button type="button" class="btn btn-primary waves-light col-4" (click)="confirmSellOrder()" [hidden]="orderConfirmed" mdbWavesEffect>Confirm</button>
    </div>

</div>



    <!-- If It Is A Sell Order  -->

    <div *ngSwitchCase="'Sell'">
    <div class="sellOrder d-flex justify-content-center">

            <div class="personal-sm">
    
                <h5 class="mb-4 text-center">Wanted to buy your book </h5>
                <label class="text-center"> <strong>Quantity : <span>{{order?.quantity}}</span></strong>  </label>
        <label class="text-center"> <strong>Total Price : <span>{{order?.price}} L.E</span></strong>  </label>

          
        <a routerLink="/books/{{ order?.book[0]?.id }}" > <img src="http://localhost:3000{{order?.book_images[0]?.image?.url}}" class="orderImg z-depth-2"></a>
    
            </div>
    
        </div> 
        <div class="row d-flex justify-content-center mt-5">
                <button type="button" class="btn btn-danger waves-light col-4" data-dismiss="modal" (click)="dismissSellOrder()" [hidden]="orderConfirmed" mdbWavesEffect>Dismiss</button>
                <button type="button" class="btn btn-primary waves-light col-4" (click)="confirmSellOrder()" [hidden]="orderConfirmed" mdbWavesEffect>Confirm</button>
            </div>
        </div>
    <!-- /If It Is A Sell Order  -->
    <!-- If It Is A Bid Order  -->
    <div   *ngSwitchCase="'Sell By Bids'" class="BidOrder">
        <div class="row d-flex justify-content-center">

            <div class="personal-sm col-lg-4 col-sm-10">

                <h5 class="mb-4 text-center">Won The Bid For This Book</h5>
                <label class="text-center"> <strong>For the Price : <span> {{order?.price}} L.E</span> </strong> </label>
                <a routerLink="/books/{{ order?.book[0]?.id }}" > <img src="http://localhost:3000{{order?.book_images[0]?.image?.url}}" class="orderImg z-depth-2"></a>
            </div>



        </div>
        <div class="row d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-danger waves-light col-4" data-dismiss="modal" (click)="dismissSellOrder()" [hidden]="orderConfirmed" mdbWavesEffect>Dismiss</button>
            <button type="button" class="btn btn-primary waves-light col-4" (click)="confirmSellOrder()" [hidden]="orderConfirmed" mdbWavesEffect>Confirm</button>
        </div>
    </div>
    <!-- /If It Is A Bid Order  -->
    </div>
</div>
</ng-template>