<div class="container mt-5 animated bounceInUp">
  <div class="row d-flex justify-content-center">
      <!--Card-->
      <div class="card card-cascade p-5  col-lg-8 col-md-4 ">

          <div class="signTitle">
              <h3 class="text-center mb-4">Change password</h3>

          </div>
          <div class="errorMessages" *ngIf="error">
            <span>{{ error }}</span>
        </div>
      <form [formGroup]="newPasswordForm" (ngSubmit)="createNewPassword()">
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" formControlName="password" id="password" class="form-control" minLength="8" mdbInputDirective>
          <label for="password">New password</label>
      </div>
      <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" formControlName="password_confirmation" id="password_confirmation" class=" form-control" mdbInputDirective>
          <label for="password_confirmation">Confirm password</label>
      </div>
        <div class="modal-footer viewMoreBtn">
            <button type="submit" [disabled]="!newPasswordForm.valid" class="btn peach relative waves-light" mdbWavesEffect>Submit Password</button>
        </div>
      </form>

    </div>
    <!--/.Card-->
  </div>
</div>
