<div class="before"></div>
<div class="container">


    <!--Section: Blog v.1-->


    <!--Section heading-->
    <h2 class="h1 font-weight-bold text-center mb-5 pt-4">Available Stores</h2>
    <!--Section description-->
    <p class="text-center mb-5 pb-3">Easy access to the desired location.</p>

    <!--Grid row-->
    <div *ngFor="let bookStore of bookStores">
    <div class="row animated fadeInLeft">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 pb-3">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                    <img src="{{ bookStoreImage + bookStore?.profile_picture?.url }}" alt="Sample image for first version of blog listing"  class="img-fluid" *ngIf="bookStore?.profile_picture?.url">
                    <img src="assets/images/blank__240x240.gif" alt="Sample image for first version of blog listing"  class="img-fluid" *ngIf="!bookStore?.profile_picture?.url">
                <!-- <img src="assets/images/ALEF-Bookstore-London-710x478.png" alt="Sample image for first version of blog listing" class="img-fluid"> -->
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 storeInfo" >
            <!--Excerpt-->
            <a href="" class="green-text">
                <h6 class="font-weight-bold pb-1">{{  bookStore?.address[0]?.city }}</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>{{  bookStore?.name }}</strong>
            </h3>
            <ul>
                <li> <i class="fa fa-location-arrow" aria-hidden="true"></i>{{ bookStore?.address[0]?.building_number + ", " + bookStore?.address[0]?.street + " st. " + bookStore?.address[0]?.city
                    + ", " + bookStore?.address[0]?.region }}
                </li>
                <li> <i class="fa fa-globe"></i><a href="
                    {{ bookStore?.facebook_page }} "> {{ bookStore?.facebook_page }} </a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> {{ bookStore?.phone[0]?.phone }} </li>
                <!--will put opening hours here-->
                <li class="storeRate">
                        <label for="" class="font-weight-bold">
                                <span class="stars" style="margin: 0 auto; ">
                                    <span [style.width.%]="bookStore?.rate/5*100"></span>
    
                                </span>
                        </label>
                </li>
            </ul>

            <a class="btn btn-success btn-md mb-3 waves-light" routerLink="/userprofile/{{ bookStore?.id }}" mdbWavesEffect>Visit Profile</a>
        </div>
        <!--Grid column-->
 <!--Grid row-->


    </div>
    <hr class="mb-5 mt-5 pb-3">
</div>


    <!--Grid row-->

    <hr class="mb-5 mt-5 pb-3">

       <!--Pagination -->
       <nav class="d-flex justify-content-center mt-5" *ngIf="!noResultsFound">
        <ul class="pagination pg-red">
            <!--Arrow left-->
            <li class="page-item">
                <button class="page-link" mdbWavesEffect aria-label="Previous" [disabled]="currentPage == 1" (click)="pageClick(currentPage-1)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </button>
            </li>

            <!--Numbers-->
            <li class="page-item" *ngFor="let page of pages"><button class="page-link" [disabled]="currentPage == page+1" mdbWavesEffect (click)="pageClick(page+1)">{{page + 1}}</button></li>
            <!--Arrow right-->
            <li class="page-item">
                <button class="page-link" mdbWavesEffect aria-label="Next" [disabled]="currentPage >= totalPages" (click)="pageClick(currentPage+1)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </button>
            </li>
        </ul>
    </nav>
    <!--/Pagination red-->
</div>