.navColor {
    background-color: crimson;
}

i {
    color: aliceblue;
    font-size: 30px;
}

.dropdown.show .dropdown-menu {
    display: flex;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #ff2436b0;
}