.navColor {
    background-color: #ff4f4f;
}

.addBookBtn {
    color: aliceblue;
    background-color: transparent;
    border: 2px solid floralwhite;
    margin-right: 18px;
}

.prof {
    i {
        color: floralwhite;
        font-size: 30px;
        margin-right: -18px;
        margin-left: 20px;
    }
}

.dropdown.show .dropdown-menu {
    display: flex;
    margin-top: 23px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #ff4f4fb4;
    border-radius: 10px;
}

.form-inline {
    margin-bottom: -10px;
}

i.fa.fa-bell {
    color: floralwhite;
    font-size: 30px;
    margin-right: 20px;
}

.btndropdown-toggle {
    background-color: transparent;
    border: none;
    width: 42px;
    position: relative;
}

.dropdown-menu {
    ul {
        list-style: none;
    }
}

.noti.dropdown-menu.fadeInDropdown {
    margin-left: -168px;
    margin-top: 35px;
    ul {
        margin-left: -20px;
        margin-right: 20px;
        li {
            span {
                color: blue;
            }
        }
    }
    h5 {
        margin-left: 3px;
        display: inline-block;
    }
}

.notiHeader {
    span {
        color: blue;
    }
}


/******notifications badge********/

.badge {
    display: block;
    position: absolute;
    background: linear-gradient(40deg, #ffe06f, #ffd507) !important;
    top: -14px;
    right: 3px;
    line-height: 2px;
    height: 18px;
    padding: 10px 8px;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}