// .rgba-red-strong {
//     background-color: rgba(244, 67, 54, 0.95);
// }
.addBookBtn {
    color: aliceblue;
    background-color: transparent;
    border: 2px solid floralwhite;
    margin-right: 18px;
}

.search {
    width: 260px;
}

.profile {
    i {
        color: floralwhite;
        font-size: 30px;
    }
    .dropdown-menu {
        left: -50px;
        top: 69px;
    }
}

.dropdown.show .dropdown-menu {
    display: flex;
    margin-top: 23px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #ff4f4fb4;
    border-radius: 10px;
}

.form-inline {
    margin-bottom: -10px;
}

i.fa.fa-bell {
    color: floralwhite;
    font-size: 30px;
    margin-right: 20px;
}

.btndropdown-toggle {
    background-color: transparent;
    border: none;
    width: 42px;
    position: relative;
}

.dropdown-menu {
    ul {
        list-style: none;
    }
}

.btn-group,
.btn-group-vertical {
    left: 30px;
}

.noti.dropdown-menu.fadeInDropdown {
    margin-left: -180px;
    width: 345px;
    margin-top: 36px;
    ul {
        margin-left: -20px;
        margin-right: 20px;
        li {
            span {
                color: blue;
            }
        }
    }
    h5 {
        margin-left: 3px;
        display: inline-block;
    }
    .dropdown-item[_ngcontent-c1]:hover,
    .dropdown-item[_ngcontent-c1]:focus {
        background: none;
    }
}

.notiHeader {
    span {
        color: blue;
    }
}


/******* ScrollBar ************/

.scrollbar {
    margin-left: auto;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800;
}


/******notifications badge********/

.badge {
    display: block;
    position: absolute;
    background: linear-gradient(40deg, #ffe06f, #ffd507) !important;
    top: -14px;
    right: 3px;
    line-height: 2px;
    height: 18px;
    padding: 10px 8px;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}