<div class="container ">
    <div class="row">
        <!--Navbar-->
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  rgba-red-strong fixed-top " [containerInside]="true">

            <!-- Navbar brand -->
            <logo>
                <a class="navbar-brand" href="index.html" routerLink="/">
                    <img src="assets/images/ShelvesLogo.png" width="110px" height="80px" alt="">
                </a>
            </logo>

            <!-- Collapsible content -->
            <links>

                <!-- Links -->
                <ul class="navbar-nav mr-auto  ">
                    <li class="nav-item active ">
                        <a class="nav-link waves-light"  routerLink="/" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown " dropdown>
                        <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Categories<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown " role="menu">
                            <div class="col-lg-4">
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#" *ngFor="let category of firstCatArray">
                                        {{ category.name }}
                                </a>
                            </div>
                            <div class="col-lg-4">
                                    <a class="dropdown-item waves-light" mdbWavesEffect href="#" *ngFor="let category of secondCatArray">
                                            {{ category.name }}
                                    </a>

                            </div>
                            <div class="col-lg-4">
                                    <a class="dropdown-item waves-light" mdbWavesEffect href="#" *ngFor="let category of thirdCatArray">
                                            {{ category.name }}
                                    </a>

                            </div>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Stores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Contact</a>
                    </li>

                    <!-- Dropdown -->

                </ul>
                <!-- Links -->
                <button type="button" class="btn addBookBtn" routerLink="/books/create" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i> Add Book </button>                <!-- Search form -->
                <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0 mr-5">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search Your Book">
                    </div>

                </form>
                <a routerLink="/userprofile" class="prof" *ngIf="userLoggedIn"> <i class="fa fa-user-circle "></i></a>
            </links>
            <!-- Collapsible content -->

        </mdb-navbar>
        <!--/.Navbar-->
    </div>
</div>