.navColor {
    background-color: crimson;
}

.addBookBtn {
    color: aliceblue;
    background-color: transparent;
    border: 2px solid floralwhite;
    margin-right: 18px;
}

.prof {
    i {
        color: floralwhite;
        font-size: 30px;
        margin-right: -18px;
    }
}

.dropdown.show .dropdown-menu {
    display: flex;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #ff2436b0;
}

.form-inline {
    margin-bottom: -10px;
}