<div class="before">

</div>
<div class="container animated bounceInUp card card-cascade p-5 mt-5 col-lg-8 col-md-4">
    <div class="EditProTitle mb-5 ">
        <h3 class="text-center mb-4">Edit Profile</h3>
    </div>

    <form class="form-horizontal" role="form" [formGroup]="editForm" (ngSubmit)="updateProfile()">

        <div class="row d-flex justify-content-center">
            <!-- left column -->

            
            <div class="col-md-12 mb-5  ">
                <div class="text-center  d-flex justify-content-center">
                    <div class="hovereffect">
                        <img src="{{ userImage }}" class="avatar img-circle" alt="avatar">
                        <div class="overlay">
                            <i class="fa fa-cloud-upload" aria-hidden="true">   </i> <input type="file" id="userAvatar" (change)="onFileChange($event)">

                            <!-- <a class="info" href="#">link here</a> -->
                        </div>
                    </div>

                    <!-- <h6>Upload a photo</h6> -->

                    <p class="pcenter">Upload your picture</p>
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-8 personal-info">

                <h3>Personal info</h3>

                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label class=" control-label">Username:</label>

                            <input class="form-control" type="text" formControlName="name">

                        </div>
                        <div class="col-md-4"></div>
                        <div class="form-group col-md-8">
                            <label class=" control-label">Phone:</label>

                            <input class="form-control col-md-4" type="text" formControlName="phone">

                        </div>  
                        <label class="col-lg-12 control-label">Address:</label>
                        <div class="form-group col-md-3">

                            <input type="text" class="form-control" id="Building" formControlName="building_number" placeholder="Building number">
                        </div>
                        <div class="form-group col-md-5">

                            <input type="text" class="form-control" id="Street" formControlName="street" placeholder="Street">
                        </div>

                        <div class="form-group col-md-5">

                            <input type="text" class="form-control" id="Region" formControlName="region" placeholder="Region">
                        </div>

                        <div class="form-group col-md-8">
                            <select id="City" class="form-control" formControlName="city">
                                <option *ngFor="let city of cities" [selected]="currentUser?.addresse?.city==city.name">{{ city.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="form-group col-md-2">

                            <input type="text" class="form-control" formControlName="postal_code" id="inputZip" placeholder="Postal code">
                        </div>               
                        
                        <div class="col-md-8" ></div>
                        <label class="col-lg-12 control-label" *ngIf="userRole == 'Normal user'">Choose Interests:</label>
                        <div class="form-group col-md-3">
                        <select id="Interests" class="form-control" multiple *ngIf="userRole == 'Normal user'" formControlName="interests" name="interests">
                            <option 
                            *ngFor="let category of categories" 
                            value="{{ category.id }}"
                            >{{ category.name }}</option>
                        </select>
                        </div>
                        <div class="col-md-8"></div>

                    </div>
                        <div *ngIf="userRole == 'Normal user'">
                            <label class="form-check-label" for="exampleRadios1">
                            Gender:
                            </label>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input mr-3" type="radio" name="gender" formControlName="gender" id="exampleRadios1" value="male" [checked]="currentUser.gender=='male'">
                                <label class="custom-control-label" for="exampleRadios1">
                                Male
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input mr-3" type="radio" name="gender" formControlName="gender" id="exampleRadios2" value="female" [checked]="currentUser.gender=='female'">
                                <label class="custom-control-label" for="exampleRadios2">
                                Female
                                </label>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input type="submit" class="btn  peach" value="Save Changes" >
                                <span></span>
                            </div>
                        </div>
            </div>

        </div>
    </form>
</div>