<div class="before">

    </div>
    <div class="container animated bounceInUp card card-cascade p-5 mt-5 col-lg-8 col-md-4 ">
        <div class="EditProTitle mb-5 ">
            <h3 class="text-center mb-4">Add Book</h3>
        </div>
    
    
        <div class="row d-flex justify-content-center">
            <!-- left column -->
    
            <div class=" mb-5  ">
                <div class="text-center ">
                    <div class="view">
                        <img src="{{ image }}" width="200px" height="300px" alt="avatar" *ngFor="let image of bookImages">
                        <!-- <div class="mask flex-center rgba-orange-slight " width="150px" height="300px">
                        </div> -->
                    </div>
    
                </div>
                <form [formGroup]="bookForm">
                    <div class="form-group text-center">
                        <label for="exampleFormControlFile1">Upload book pictures</label>
                        <input type="file" class="form-control-file riight" id="exampleFormControlFile1" formControlName="book_images_files" name="book_images_files" multiple (change)="onFileChange($event)">
                    </div>
                </form>
            </div>
    
            <!-- edit form column -->
            <div class="col-md-8 personal-info">
                <form [formGroup]="bookForm" (ngSubmit)="submitBook()" class="form-horizontal" role="form">
    
                    <div class="form-group col-md-8">
                        <label for="txtarea">Book name</label>
                        <input formControlName="name" placeholder="Book name" type="text" name="name" class="form-control"/>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="txtarea">Book category</label>
                        <select formControlName="category_id" class="form-control" name="category_id">
                      <option *ngFor="let category of categories" value="{{ category.id }}" [selected]="book?.category.id == category.id">
                        {{ category.name }}
                      </option>
                      </select>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="txtarea">Book description</label>
                        <textarea formControlName="description" class="form-control" name="description"></textarea>
                    </div>
                    <!-- <fieldset> -->
                    <!-- <input formControlName="book_images_files" placeholder="name" type="file" name="book_images_files" multiple (change)="onFileChange($event)" /> -->
                    <!-- </fieldset> -->
    
                    <div class="form-group col-md-8">
                        <label for="txtarea">Type of share</label>
                        <select formControlName="transaction" class="form-control" name="transaction" *ngIf="!isBookStore" (change)="onTransactionChange()">
                            <option [attr.selected]="formType == 'edit'?book?.transaction == 'Free Share':null">Free Share</option>
                            <option [attr.selected]="formType == 'edit'?book?.transaction == 'Exchange':null">Exchange</option>
                            <option [attr.selected]="formType == 'edit'?book?.transaction == 'Sell By Bids':null">Sell By Bids</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">    
                        <input formControlName="price" type="number" class="form-control" value="{{ book?.price }}" placeholder="beginning price" name="price" *ngIf="isBookStore || isBids" />
                    </div>
                    <div class="form-group col-md-4">
                        <input formControlName="quantity" type="number" class="form-control" value="{{ book?.quantity }}" name="quantity" *ngIf="isBookStore" />
                        <label for="" *ngIf="isBids">For bid till : </label>
                    </div>
                    <div>
    
    
                    </div>
                    <!-- <button type="submit">
                    Create
                  </button> -->
                  <!-- <input type="submit" [disabled]="!bookForm.valid" class="btn  peach" value="Add book">     -->
                  <input type="submit" class="btn  peach" value="Add book">    
                </form>
    
            </div>
    
        </div>
    </div>